default:
  suites:
    maths:
      paths:
        - '%paths.base%/features/maths'
      contexts: [ MathsContext ]

  extensions:
    DVDoug\Behat\CodeCoverage\Extension:
      filter:
        whitelist:
          include:
            directories:
              'src': ~
      reports:
        php:
          target: build/coverage/behat.cov
        text:
          showColors: true
          showUncoveredFiles: true
        xml:
          target: build/coverage-behat
